@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.contacts {
  &__contents {
    @include page-grid;
  }

  &__content {
    display: flex;
    flex-direction: column;

    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: span 6;
      max-width: 411px;
    }

    &--name {
      font-family: $fonts-description;
      border-radius: 8px;
      margin-bottom: 16px;
      height: 48px;
      width: 100%;
      background-color: $forms-bg-color;
      border: none;
      outline: none;

      &:hover {
        border: 1px solid #d5d7de;
      }

      &:active {
        border: 1px solid #000;
      }

      &:focus {
        border: 1px solid #000;
      }
    }

    &--email {
      font-family: $fonts-description;
      border-radius: 8px;
      margin-bottom: 16px;
      height: 48px;
      width: 100%;
      background-color: $forms-bg-color;
      border: none;
      outline: none;

      &:hover {
        border: 1px solid #d5d7de;
      }

      &:active {
        border: 1px solid #000;
      }

      &:focus {
        border: 1px solid #000;
      }
    }

    &--message {
      font-family: $fonts-description;
      margin-bottom: 32px;
      height: 148px;
      width: 100%; /* робить textarea на всю ширину контейнера */
      resize: none; /* забороняє змінювати розмір */
      border: none; /* прибирає рамку */
      outline: none; /* прибирає контур при фокусі */
      background: $forms-bg-color;
      border-radius: 8px;
      padding: 12px;
      font-size: 15px;
      box-sizing: border-box;

      &:hover {
        border: 1px solid #d5d7de;
      }

      &:active {
        border: 1px solid #000;
      }

      &:focus {
        border: 1px solid #000;
      }
    }
  }

  &__bottom {
    @include on-desktop {
      grid-column: span 6;
    }

    font-family: $fonts-description;
    box-sizing: border-box;
    font-weight: 400;

    &--title {
      color: #9393a3;
      font-weight: 400;
    }

    &--number {
      display: block;
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 27px;
      color: #191919;
      text-decoration: none;
    }

    &--email {
      display: block;
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 27px;
      color: #191919;
      text-decoration: none;
    }

    &--address {
      color: #191919;
    }
  }
}
