@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.page {
  font-family: $fonts-title;
  font-weight: 700;
  height: 100%;

  font-size: 16px;
  line-height: 140%;
  font-style: normal;
  color: $main-text-color;

  scroll-behavior: smooth;

  &__body {
    margin: 0;
  }
  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    opacity: 0;
    transition: all 0.3s;
    transform: translateX(-100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
    &:target ~ .main {
      height: 100vh;
      overflow: hidden}


    &:active {
      right: 0;
    }
  }
}
