@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.product {
  display: flex;
  flex-direction: column;

  &__photo {
    width: 100%;
    height: auto;
    display: block;

    @include hover(transform, scale(1.2));
  }

  &__category {
    margin-top: 0;
    font-family: $fonts-description;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
  }

  &__price {
    margin-top: auto;
    font-size: 16px;
    line-height: 140%;
  }
}
