@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.recommended {
  margin-bottom: 120px;
  &__products {
    @include page-grid;

    row-gap: 40px;
  }

  &__product {
    &--images {
      overflow: hidden;
    }

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 /-1;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}
